<div class = "container" *ngIf="cards == 1">
<mat-card>
    <mat-card-content>
    <div class = "feature" *ngIf="cards.category == 1; else elseBlock">
    Feature
    </div>
    <ng-template #elseBlock ><div class = "bug">Bug</div></ng-template>
</mat-card-content>
    <mat-card-content>
        <div ><span class="title">Title:</span> {{ cards.title }}</div>
      </mat-card-content>
    <mat-card-content class="icon">
      <mat-icon (click)="OnSectionChangeTodo()">assignment_turned_in</mat-icon>      
    </mat-card-content>
    <mat-card-content>
      <div ><span class="title">Comments:</span> {{ cards.comments}}</div>
    </mat-card-content>
    <mat-card-content>
      <div ><span class="title">Assignedto:</span> {{ cards.assignedTo }}</div>
      </mat-card-content>
  </mat-card>

</div>